.site-nav {
  overflow-y: auto;
  height: calc(100vh - #{$header-height} - #{$aside-img-height});
  padding-left: $side-margin;
  padding-right: $side-margin;
}

.nav-fade {
  height: 24px;
  width: 100%;
  background: transparent;
  background: linear-gradient(0deg, var(--background-color) 0%, var(--background-color-transparent) 100%);
  transform: translateY(-24px);

  display: none;
  @include vh-1 {
    display: block;
  }
}

.aside-nav-link {
  display: block;
  position: relative;
  transition: all .2s ease;

  font-size: 16px;
  line-height: 1.66;

  &::before {
    @include absolute-pseudo;
    
    height: 100%;
    width: calc(100% + 30px);
    transform: translateX(-15px);

    background: transparent;
    border-radius: $border-radius;
    z-index: -1;
    transition: all .2s ease;
  }

  &:hover {
    color: var(--primary-color);
  }

  &.active {
    color: var(--primary-color);
    font-weight: 500;
    cursor: default;
  }

  &.active::before {
    background: var(--gentle-highlight-color);
  }
}