.menu-link {
  display: inline-block;
  cursor: pointer;

  @include vw-2 {
    display: none;
  }
}

.menu {
  .menu-path {
    transition: all .2s ease;
    stroke: var(--heavy-contrast-text-color);
  }

  &:hover .menu-path,
  &.menu-open .menu-path {
    stroke: var(--primary-color);
  }
}

.logo-link {
  gap: 12px;
}

.logo-link-text {
  @include fancy-copy;
  font-size: 22px;
  
  width: 0;
  transform: scale(0);
  opacity: 0;
  transition: all .2s ease, width .5s ease;

  @include vw-2 {
    width: 24px;
    transform: scale(1);
    opacity: 1;
  }
}

.desktop-logo-link {
  display: inline-block;
}

.generate-button {
  padding: 10px;

  @include vw-2 {
    padding: $button-padding;
  }
}

.generate-button span {
  display: none;

  @include vw-2 {
    display: block;
  }
}

.generate-button svg {
  display: block;
  
  @include vw-2 {
    display: none;
  }
}

.theme-button {
  cursor: pointer;
  transition: all .2s ease;
  transform: scale(0.85);

  &:hover {
    transform: scale(1);
  }
}

.theme-icon path {
  transition: all .2s ease;
  stroke: var(--heavy-contrast-text-color)
}

.theme-button:hover .theme-icon path {
  stroke: var(--primary-color);
}

.dark-theme-icon {
  display: block;
}

.light-theme-icon {
  display: none;
}

html.dark {
  .dark-theme-icon {
    display: none;
  }
  
  .light-theme-icon {
    display: block;
  }
}