table {
  width: 100%;
}

thead {
  border-top: 1px solid var(--divider-color);
  border-bottom: 1px solid var(--divider-color);
}

th {
  @include label-copy;
  font-size: 12px;
  line-height: 1;
  padding: 16px 12px;
  text-align: left;
  border-left: 1px solid var(--divider-color);

  @include vw-2 {
    font-size: 14px;
    padding: 16px 24px;
  }

  &:first-child {
    border-left: none;
  }
}

td {
  font-size: 16px;
  padding: 4px 12px;
  text-align: left;
  border-left: 1px solid var(--divider-color);

  @include vw-2 {
    padding: 4px 24px;
  }

  &:first-child {
    border-left: none;
  }
}

.row-stripe {
  background: var(--alternate-table-row-color);
}

.striped-table tbody tr:nth-child(odd) {
  background: var(--alternate-table-row-color);
}
