table {
  width: 100%;
}

thead {
  border-top: 1px solid var(--divider-color);
  border-bottom: 1px solid var(--divider-color);
}

th {
  @include label-copy;
  line-height: 1;
  padding: 16px 24px;
  text-align: left;
  border-left: 1px solid var(--divider-color);

  &:first-child {
    border-left: none;
  }
}

td {
  font-size: 16px;
  padding: 2px 24px;
  text-align: left;
  border-left: 1px solid var(--divider-color);

  &:first-child {
    border-left: none;
  }
}

.row-stripe {
  background: var(--alternate-table-row-color);
}