table {
  width: 100%;
}

thead {
  border-bottom: 1px solid var(--divider-color);
}

th {
  border-top: 1px solid var(--divider-color);
}

th {
  @include label-copy;
  font-size: 12px;
  line-height: 1;
  padding: 16px 12px;
  text-align: left;
  border-left: 1px solid var(--divider-color);

  @include vw-2 {
    padding: 16px 24px;
  }

  &:first-child {
    border-left: none;
  }
}

td {
  font-size: 16px;
  padding: 4px 12px;
  text-align: left;
  border-left: 1px solid var(--divider-color);

  @include vw-2 {
    padding: 4px 24px;
  }

  &:first-child {
    border-left: none;
  }
}

.row-stripe {
  background: var(--alternate-table-row-color);
  border-bottom: 1px solid var(--divider-color);
  border-top: 1px solid var(--divider-color);
}

.striped-table tbody tr:nth-child(odd) {
  @extend .row-stripe;
}

.empty-th-1 th:first-child {
  border-top: 0;
}

.label-col-1 td:first-child {
  @include label-copy;
  font-size: 12px;
  line-height: 1.5;
}

.scroll-size-1 {
  position: relative;
  @media screen and (max-width: 400px) {
    overflow-x: auto;
    table {
      width: 400px;
    }
  }
}

.scroll-size-2 {
  position: relative;
  @media screen and (max-width: 700px) {
    overflow-x: auto;
    table {
      width: 700px;
    }
  }
}
