:root {
  --background-color: #ffffff;
  --background-color-transparent: rgba(255, 255, 255, 0); // used for css gradients
  --primary-color: #1FBCBC;
  --secondary-color: #B13FF8;
  --gentle-highlight-color: #EEFBFC;
  --negative-text-color: #ffffff;
  --heavy-contrast-text-color: #141C24;
  --moderate-contrast-text-color: #3B3F4A;
  --light-contrast-text-color: #667C8F;
  --placeholder-text-color: #5f6273;
  --divider-color: #ededf1;
  --field-color: #f0f0f4
}

$border-radius: 6px;