:root {
  --background-color: #ffffff;
  --primary-color: #1FBCBC;
  --secondary-color: #B13FF8;
  --highlight-primary-color: #EEFBFC;
  --highlight-secondary-color: #f7eaff;
  --highlight-text-background-color: #fffbbf;
  --negative-text-color: #ffffff;
  --heavy-contrast-text-color: #141C24;
  --moderate-contrast-text-color: #3B3F4A;
  --light-contrast-text-color: #667C8F;
  --overlay-color: #141C24;
  --divider-color: #ededf1;
  --field-color: #f0f0f4;
  --placeholder-text-color: #5f6273;
  --alternate-table-row-color: #f5f5f6;
}

html.dark {
  --background-color: #141c24;
  --primary-color: #1FBCBC;
  --secondary-color: #B13FF8;
  --highlight-primary-color: #222d39;
  --highlight-secondary-color: #242238;
  --highlight-text-background-color: #393622;
  --negative-text-color: #ffffff;
  --heavy-contrast-text-color: #ededf1;
  --moderate-contrast-text-color: #afb1b7;
  --light-contrast-text-color: #667C8F;
  --overlay-color: #000000;
  --divider-color: #2f3338;
  --field-color: #222d39;
  --placeholder-text-color: #617186;
  --alternate-table-row-color: #1d2631;
}

$border-radius: 6px;