<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  <meta name="description" content="{{ side.description }}">
  
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:type" content="">
  <meta property="og:url" content="{{ site.baseurl }}{{ page.url }}">
  <meta property="og:image" content="">
  
  <link rel="icon" href="{{ '/assets/images/favicon.ico' | relative_url }}" sizes="any">
  <link rel="icon" href="{{ '/assets/images/icon.svg' | relative_url }}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{{ '/assets/images/icon.png' | relative_url }}">
  
  <script src="{{ '/assets/javascript/theme.js' | relative_url }}"></script>
</head>
<body>
  <header class="flex justify-content-space-between align-items-center">
    <div class="header-left flex align-items-center flex-gap-2">
      <a id="menu-link" class="menu-link inline-block">
        {% include menu.svg %}
      </a>
      <a class="logo-link inline-flex align-items-center" href="{{ '/' | relative_url }}">
        {% include logo-icon.svg %}
        <span class="logo-link-text">norlunda</span>
      </a>
    </div>
    <div class="header-right flex justify-content-space-between align-items-center flex-grow-2 flex-gap-2">
      <div class="header-inner-left search-container flex-grow-2">
        <form class="search-field-wrapper">
          <input type="text" class="field" placeholder="Search" />
        </form>
      </div>
      <div class="header-inner-right flex-shrink-1 flex justify-content-flex-start align-items-center flex-gap-1">
        <button class="button generate-button flex align-items-center flex-gap-1" data-modal-trigger="generator">
          {% include plus.svg %}
          <span>Create a word</span>
        </button>
        <button id="toggle-theme" class="theme-button p-6">
          {% include moon.svg %}
          {% include sun.svg %}
        </button>
      </div>
    </div>
  </header>

  <aside id="nav-container">
    <nav class="pt-36 site-nav">
      <label>Getting started</label>
      <ul id="nav-list" class="py-24 flex flex-direction-column">
        {% for nav in site.data.navigation %}
          <li>
            {% if nav.url == page.url %}
              <a class="aside-nav-link py-8 active">
                <span>{{ nav.text}}</span>
              </a>
            {% else %}
              <a class="aside-nav-link py-8" href="{{ nav.url | relative_url }}">
                <span>{{ nav.text}}</span>
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  </aside>

  <main id="scrollable-content">
    <div class="flex justify-content-space-between align-items-flex-start">
      <section class="main-content py-36">
        {{ content }}
      </section>
      <section class="py-36 main-meta">
        <label>On this page</label>
        <div id="subnav-section" class="pt-24 pb-16"></div>
        <div class="back-to-top py-12">
          <a id="scroll-to-top" class="scroll-to-top-link py-12 flex flex-gap-1 justify-content-flex-start align-items-center">
            {% include up-arrow.svg %}
            Back to top
          </a>
        </div>
      </section>
    </div>
    
    <footer class="flex justify-content-space-between align-items-center">
      <div class="footer-left">
        Copyright © {{ site.time | date: '%Y' }} John Newman
      </div>
      <div class="footer-right flex flex-gap-3 align-items-center">
        {% for social in site.data.social %}
          <a class="social-icon" href="{{ social.url }}">
            <img src="{{ social.icon | relative_url }}" alt="{{ social.alt }}" />
          </a>
        {% endfor %}
      </div>
    </footer>
  </main>

  {% include generator-modal.html %}

  {% assign cache_bust = "" %}
  {% if jekyll.environment == "development" %}
    {% assign cache_bust = site.time | date:'?v=%s' %}
  {% endif %}

  <script defer src="{{ '/assets/javascript/global.js' | relative_url | append: cache_bust }}"></script>
  <script defer src="{{ '/assets/javascript/menu.js' | relative_url | append: cache_bust }}"></script>
  <script defer src="{{ '/assets/javascript/subnav.js' | relative_url | append: cache_bust }}"></script>
  <script defer src="{{ '/assets/javascript/modals.js' | relative_url | append: cache_bust }}"></script>
  <script defer src="{{ '/assets/javascript/generator-modal.js' | relative_url | append: cache_bust }}"></script>
  <script defer src="{{ '/assets/javascript/algorithm.js' | relative_url | append: cache_bust }}"></script>
</body>
</html>